* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background: #11071F;
}
.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 , 1fr);
    grid-template-areas: 
    "section1"
    "section2"
    "section3"
    ;
    gap: 2rem;
} 
.navbar {
    display: none; 
}

.content1 {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 5rem;
}
.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
   }
.contenttxt p {
    color: white;
    font-family: Preahvihear;
}
.bigfont {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 1rem;
}
.minifont {
    font-size: 0.75rem;
}
.underline {
    text-decoration: underline;
}
.welcoming {
    font-size: 1rem;
   
    position: relative;
    top: -5rem; 
}
span {
    color: #7127BA;
}

img {
    transition: transform 1s ease;
}

img:hover {
    transition: transform 0.5s ease;
    transform: scale(0.9);
}

.cards-container {
    display: grid;
   
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      ;
    gap: 1rem;
  }
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 2rem;
  background: linear-gradient(
    to right,
    rgba(19, 4, 40, 0.8) 7%,
    rgba(37, 16, 67, 0.8) 34%,
    rgba(56, 18, 109, 0.8) 57%,
    rgba(38, 16, 69, 0.8) 85%,
    rgba(25, 6, 52, 0.8) 100%
  );
    border-radius: 17px;
    padding: 2rem 6rem 2rem 2rem;
  }
  .card-content {
      display: flex;
      flex-direction: column;
  }
  .card-content a {
      text-decoration: none;
      color: white;
      background-color: #2C1250;
      border: 1px solid #693B93;
      border-radius: 15px;
      padding: 1rem 2.5rem;
      margin-top: 0.5rem;
      text-align: center;
      max-width: 25%;
  }
  .card-content h2 {
   margin-bottom: 0;
  }
  
  .section2 {
    margin-right: 7rem;
    margin-left: 7rem;
  font-family: poppins;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin-bottom: 7rem;
}
.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.section3 p {
    color: white;
    font-family: Preahvihear;
    font-size: 1.5rem;
    text-align: center;
}
.smaller {
    font-size: 1rem;
    color: white;
}
.para-marg {
    margin-bottom: 2rem;
}

@media (min-width: 1024px) {
    .app {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5 , 1fr);
        grid-template-areas: 
        "section1"
        "section2"
        "section3"
        ;
        gap: 5rem;
    } 
    .navbar {
        display: flex;
        justify-content: space-between;
        background: #1A0B2E;
        padding: 2rem 15rem 2rem 20rem;
    }
    .navbar-items {
        display: flex;
        gap: 6rem;
        font-family: Plus Jakarta Sans;
    }
    .navbar-items a {
        text-decoration: none;
        color: white;
    }
    .section2 {
       margin-bottom: 0;
    }
      .cards-container {
        display: grid;
        z-index: 2;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          "card1 card2"
          "card3 card4";
        gap: 1rem;
      }
      .purpleBlur {
        position: absolute;
        top: 9%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 70vw;
        max-height: 100vh;
        z-index: 1;
      }
      .purpleBlur svg {
        width: 70vw;
        height: 130vh;
      }
      .section3 p {
        font-size: 2rem;
       
    }
}
